.slides {
    animation: glisse 13s infinite;
}

@media (max-width: 1200px) {
    .slides {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        animation: none;
    }
}

@keyframes glisse {
    0% {
        transform: translateY(0)
    }
    33% {
        transform: translateY(-150px);
    }
    66% {
        transform: translateY(-310px);
    }
    100% {
        transform: translateY(0);
    }
}

